.navigationContainer {
  background-color: blue;
  grid-area: nav;
}

.button {
  color: white;
  text-decoration: none;
}

.content {
  grid-area: content;
}

.sideNavigationContainer {
  grid-area: sidebar;
  background-color: blue;
  height: 100vh;
}
