.navigationContainer {
  background-color: blue;
  grid-area: nav;
  padding: 1rem;
}

.content {
  grid-area: content;
}

.sideNavigationContainer {
  grid-area: sidebar;
  background-color: blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
