@import "../../app/variables.scss";

.button {
  color: $primary-text;
}

.activeButton {
  color: black;
  background-color: $active-primary-text;
}

.container {
  text-decoration: none;
  font-size: large;
  margin: 0 1rem 1rem 1rem;
  place-self: center;
}
